<div class="container text-center">
	<div class="container">
		<h4>Tareas</h4>
		<table class="table">
			<caption>
				{{ queuedTareas | i18nPlural: queueHeaderMapping }} para hoy
				<span class="small" *ngIf="queuedTareas > 0">(Tiempo estimado:
				{{ queuedTareas * 25  }})</span>
			</caption>
			<thead>
				<tr>
					<th>ID Tarea</th>
					<th>Nombre Tarea</th>
					<th>Completada para</th>
					<th>Ciclos</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let task of tasks; let i = index">
					<th scope="rwo">{{i}}</th>
					<td>
						{{ task.name | slice: 0:35}}
						<span [hidden]="task.name.length < 35">...</span>
					</td>
					<td>
						{{task.deadline | date: 'fullDate' }}
						<span *ngIf="task.deadline < today" class="label label-danger"> Atrasado</span>
					</td>
					<td class="text-center">{{task.tareasRequeridas}}</td>
					<td>
						<button
							type="button"
							class="btn btn-default btn-xs"
							(click)="toggleTask(task)"
							[ngSwitch]="task.queued">
							<span *ngSwitchCase="false">
								<i class="glyphicon glyphicon-plus-sign"></i>
								Añadir
							</span>
							<span *ngSwitchCase="true">
								<i class="glyphicon glyphicon-minus-sign"></i>
								Quitar
							</span>
							<span *ngSwitchDefault>
								<i class="glyphicon glyphicon-plus-sign"></i>
								Añadir
							</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>